.faqs {
	grid-column: col-start 3 / col-end -3;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-active {
		padding: 0.8rem 2.4rem;
		.faqs-questions__item--name {
			font-weight: 700;
			font-size: 34px;
			line-height: 34px;
		}
	}
	&-title {
		font-size: 3.4rem;
		font-weight: 700;
		line-height: 4rem;
		margin-bottom: 1.6rem;
	}
	&-questions {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		margin-bottom: 2.4rem;
		&__item {
			cursor: pointer;
			padding: 0.8rem 2.4rem;
			width: 100%;
			border-radius: 8px;
			border: 2px solid rgba(40, 40, 40, 0.2);
			background: white;
			box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
			transition: transform 1s ease;
			&:hover {
				transform: scale(1.05);
			}

			&--collapsed {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&--name {
				font-size: 2rem;
				line-height: 2.4rem;
				color: black;
			}
			& > p {
				font-size: 16px;
				line-height: 24px;
				animation: showPara 1s ease-in-out forwards;
			}
		}
	}
}

@keyframes showPara {
	from {
		opacity: 0;
		transform: translateY(-55%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

