.register {
	grid-column: col-start 2 / col-end -2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5vw;
	margin-bottom: 5.6rem;
	&-img {
		width: 74px;
		height: 267px;
		img {
			@extend %img;
		}
	}
	&-form {
		display: flex;
		flex-direction: column;
		padding: 0 1.6rem;
		flex-grow: 1;
		&__controls {
			display: flex;
			flex-direction: column;
			margin-bottom: 2.4rem;
			gap: 0.4rem;
			label {
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				color: #000;
			}
			input,
			textarea {
				border-radius: 8px;
				border: 1px solid #5f5f5f;
				background: #fff;
				padding: 0.8rem;
			}
		}

		&__actions {
			display: flex;
			justify-content: center;
			align-items: center;
			button {
				width: 100%;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
				border-radius: 8px;
				background: color(--primary);
				border: none;
				outline: none;
				line-height: 40px;
				height: 40px;
			}
		}
		& > h2 {
			@extend %sec-h2;
			margin-bottom: 1.6rem;
			text-align: center;
		}
		&__box {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			align-items: center;

			h2 {
				@extend %sec-h2;
				margin-bottom: 0.8rem;
				text-align: center;
			}
			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 192px;
				width: 100%;
				background-size: cover;
				border-radius: 0.8rem;

				&:first-of-type {
					background: url('/images/biet-thu.png') top left no-repeat;
					margin-bottom: 1.6rem;
				}
				&:nth-child(2) {
					background: url('/images/nhavuon.png') top left no-repeat;
					margin-bottom: 1.6rem;
				}
				&:last-of-type {
					background: url('/images/nhapho.png') top left no-repeat;
				}
				h3 {
					color: white;
					text-align: center;
					font-size: 3.4rem;
					font-weight: 700;
					line-height: 4rem;
				}
			}

			&-items {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
		}
	}

	@include media-tablet {
		flex-direction: column;
		gap: 1.6rem;

		&-img {
			display: none;
		}

		&-form {
			width: 100%;
			button {
				width: 13rem;
			}
			&__box {
				&-items {
					flex-direction: row;
					gap: 1.5rem;
					width: 100%;
				}
				&-item {
					width: auto;
					flex: 1 1 calc((100% - 1.5rem) / 2);
				}
			}
		}
	}

	@include media-small {
		&-form__box {
			&-items {
				flex-direction: column;
				align-items: center;
			}
			&-item {
				flex-basis: 174px;
				width: 70vw;
			}
		}
	}
}

