#header {
	grid-column: container-start / container-end;
	height: 5.6rem;
	background-color: red;
	margin-top: 4.8rem;
}

.header {
	&-content {
		height: 100%;
		max-width: 1040px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_logo {
			flex: 0 0 fit-content;
			height: 4.3rem;
			img {
				@extend %img;
			}
		}
		&_links {
			display: flex;
			flex-wrap: nowrap;
			li {
				padding: 0.8rem;
			}
		}
	}
}

.main-banner {
	grid-column: container-start / container-end;

	margin-bottom: 98px;
	&-img {
		width: 100%;
		height: 100%;
		// background: url('/images/banner-1.svg');
		// background-repeat: no-repeat;
		// background-size: cover;
		img {
			@extend %img;
			margin-bottom: 4.8rem;
		}
	}
}

#footer {
	grid-column: container-start / container-end;
	background-color: #000;
	padding: 3.2rem 2.4rem;
}

.footer {
	&-main {
		max-width: 1200px;
		margin: auto;
		color: white;
	}
	&-logo {
		margin-bottom: 1.6rem;
	}
	&-info {
		display: flex;
		align-items: flex-end;
		gap: 6vw;
		width: 100%;
		&__addresses {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			flex: 0 0 520px;
			& > span {
				@extend %sec-title;
				font-weight: 700;
			}
			p {
				font-size: 1.6rem;
				line-height: 2.4rem;
				& > span {
					font-weight: 700;
				}
			}
		}
		&__others {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			& .hotline,
			& .email,
			& .socials {
				display: flex;
				flex-direction: column;
				span {
					&:first-child {
						@extend %sec-title;
						font-weight: 700;
					}
					&:last-child {
						@extend %sec-para;
					}
				}
			}
			& .socials {
				span {
					margin-bottom: 0.8rem;
				}
				&-icons {
					display: flex;
					gap: 1.6rem;
				}
				margin-bottom: 2.4rem;
			}
		}
	}

	@include media-tablet {
		&-info {
			flex-direction: column;
			align-items: flex-start;
			&__addresses {
				flex-basis: auto;
			}
		}
	}
}

