.packages {
	&-top {
		grid-column: col-start 2 / col-end -2;
		display: flex;
		flex-direction: column;
		margin-bottom: 3.5rem;

		h3 {
			font-size: 34px;
			font-weight: 700;
			line-height: 40px;
			color: #000;
			text-align: center;
		}
		&_item {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			flex: 0 1 calc(100% / 3);
			color: black;
			&--img {
				margin-bottom: 1.6rem;
				width: 10rem;
				height: 10rem;
				img {
					&:first-of-type {
						// display: inline-block;
					}
					&:last-of-type {
						display: none;
					}
				}
			}
			&--title {
				@extend %sec-title;
				margin-bottom: 0.8rem;
			}
			&--para {
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
				&.mob {
					display: none;
				}
			}
			&--title,
			&--para {
				text-align: center;
			}
		}
	}
	&-top_items {
		display: flex;
		height: 234px;
		align-items: center;
		justify-content: center;
		background: url('/images/package-bg.svg') top left no-repeat;
		background-size: cover;
		position: relative;
		max-width: 1067px;
		margin: auto;
		padding: 1.2rem 1.95rem;
		gap: 6rem;
	}

	&-middle {
		grid-column: col-start 2 / col-end -2;
		max-width: 1067px;
		margin: auto;
		margin-bottom: 4.8rem;
		width: 100%;

		h2 {
			@extend %sec-h2;
			text-align: center;
			max-width: 687px;
			margin: auto;
			margin-bottom: 1.6rem;
		}
		& .iframe {
			width: 100%;
			border-radius: 8px;
			height: 490px;
			padding: 0.8rem 0;
			iframe {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 8px;
			}
		}
	}

	@include media-tablet {
		&-top {
			margin-bottom: 2rem;
			h3 {
				font-size: 20px;
				font-weight: 700;
				line-height: 24px;
			}
			&_items {
				flex-direction: column;
				height: auto;
				background: none;
				gap: 0.8rem;
			}
			&_item {
				&--img {
					margin-bottom: 0.8rem;
					width: 48px;
					height: 48px;
					& img {
						&.mob {
							display: block;
						}
						&:first-of-type {
							display: none;
						}
					}
				}
				&--para {
					font-size: 14px;
					font-weight: 400;
					line-height: 16px;
					letter-spacing: -0.28px;
					display: none;
					&.mob {
						display: block;
					}
				}
			}
		}
		&-middle {
			// display: none;
			margin-bottom: 1.6rem;
			h2 {
				font-size: 20px !important;
				font-weight: 700 !important;
				line-height: 24px !important;
				margin-bottom: 0.8rem !important;
			}

			.iframe {
				padding: 0 0.8rem;
			}
		}
	}
}

.ho-so {
	display: none;
	margin-bottom: 0.4rem;

	&.birthday {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url('/images/ngay-du-sinh.png'),
			lightgray 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 2.4rem;
	}
	@include media-tablet {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: col-start 2 / col-end -2;
		border-radius: 8px;
		height: 151px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url('/images/hoso-dat-ten.png'),
			lightgray 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&--title {
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			color: white;
			letter-spacing: 0.2rem;
		}
	}
}

