.slider {
	grid-column: container-start / container-end;
	height: 300px;
	background-color: color(--primary);
	position: relative;
	overflow: hidden;
	margin-bottom: 5.5rem;
	@include media-tablet {
		height: 196px;
		border-radius: 8px;
		margin-bottom: 1.6rem;
	}
}

.swiper-top {
	width: 1440px;
	height: 300px;
}

.swiper-item {
	display: flex;
	gap: 5vw;
	align-items: center;
	height: 100%;
	max-width: 1067px;
	margin: 0 auto;
	color: white;
	padding: 0 84px;

	& > h2 {
		@extend %sec-h2;
		text-align: left !important;
		flex: 0 0 336px;
		&.mob {
			display: none;
		}
	}
	.line-2 {
		flex: 0 0 0.5rem;
	}
	& > p {
		@extend %sec-para;
		flex-grow: 0;
		&.mob {
			display: none;
		}
	}
	@include media-tablet {
		flex-direction: column;
		justify-content: flex-start;
		gap: 2.4rem;
		padding: 1.6rem;
		height: 196px;
		h2 {
			&:first-child {
				display: none;
			}
			&.mob {
				display: block;
			}
			flex-basis: 48px;
			flex-grow: 0;
			width: 100%;
			text-align: center !important;
			font-size: 20px !important;
			line-height: 24px !important; /* 120% */
		}

		p {
			display: none;
			&:last-child {
				display: block;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}
		}

		.line-2 {
			display: none;
		}
	}
}
@include media-tablet {
	.swiper-button-next-1,
	.swiper-button-prev-1 {
		display: none;
	}
}

.line-2 {
	height: 16.6rem;
	width: 0.5rem;
	background-color: white;
	border-radius: 2.1rem;
}

.swiper-1 {
	height: 100%;
}

.swiper-pagination {
	z-index: 2;
	&-bullet {
		width: 12px;
		height: 12px;
		background-color: #706a6a;
		&-active {
			background-color: white;
		}
	}
}

.swiper-2 {
	width: 90px;
	height: 50px;
	.swiper-slide {
		& > div {
			transition: all 200ms linear;
			transform: scale(0.8);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.swiper-slide-active {
			& > div {
				transform: scale(1);
			}
		}
	}
}

.swiper-3-item {
	img {
		@extend %img;
	}
}
// ************************************** SLICK SLIDE **************************************
.slick-active {
	padding: 20px 0;
}

.slick-center img {
	transform: scale(1.8);
	transition: all 0.5s ease-in-out;
}

.slick-slide:not(.slick-active) {
	margin: 20px 0;
	filter: grayscale(0.8);
}

.child {
	width: 80%;
}
.slide:not(.slick-active) {
	cursor: pointer;
	text-align: center;
}

.pagination {
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
}

.slider-1 {
	width: 460px;
}

// ************************************** SWIPER **************************************

.swiper-villa,
.swiper-town,
.swiper-garden {
	width: 100%;
	.swiper-slide {
		text-align: center;
		padding: 0 45px;
		> img {
			width: 100%;
			height: auto;
		}
	}
}

@include media-small {
	// .swiper-button-prev-4,
	// .swiper-button-prev-2,
	// .swiper-button-prev-3,
	// .swiper-button-next-3,
	// .swiper-button-next-2,
	// .swiper-button-next-4 {
	// 	display: none;
	// }
}

