.slider {
	grid-column: container-start / container-end;
	height: 300px;
	background-color: color(--tertiary);
	position: relative;
	overflow: hidden;
	margin-bottom: 4.8rem;
}

.swiper-top {
	width: 1440px;
	height: 300px;
}

.swiper-item {
	display: flex;
	gap: 5vw;
	align-items: center;
	height: 100%;
	max-width: 80vw;
	margin: 0 auto;
	color: white;
	h2 {
		@extend %sec-h2;
	}
	p {
		@extend %sec-para;
	}
	@include media-tablet {
		flex-direction: column;
		justify-content: center;

		.line-2 {
			display: none;
		}
	}
}
@include media-tablet {
	.swiper-button-next-1,
	.swiper-button-prev-1 {
		display: none;
	}
}

.line-2 {
	height: 16.6rem;
	width: 0.5rem;
	background-color: white;
	border-radius: 2.1rem;
}

.swiper-1 {
	height: 100%;
}

.swiper-pagination {
	z-index: 2;
	&-bullet {
		width: 12px;
		height: 12px;
		background-color: #706a6a;
		&-active {
			background-color: white;
		}
	}
}

// .swiper-pagination-progressbar-fill {
// 	background-color: blue;
// }
.red {
	// background-color: black;
}

.swiper-2 {
	width: 90px;
	height: 50px;
	.swiper-slide {
		& > div {
			transition: all 200ms linear;
			transform: scale(0.8);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.swiper-slide-active {
			& > div {
				transform: scale(1);
			}
		}
	}
}

.swiper-3-item {
	img {
		@extend %img;
	}
}

.slick-track {
}

.slick-active {
	padding: 20px 0;
}

.slick-center img {
	transform: scale(1.8);
	transition: all 0.5s ease-in-out;
}

.slick-slide:not(.slick-active) {
	margin: 20px 0;
	filter: grayscale(0.8);
}

.child {
	width: 80%;
}
.slide:not(.slick-active) {
	cursor: pointer;
	text-align: center;
}

.pagination {
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
}

.slider-1 {
	width: 460px;
}

