.solutions {
	grid-column: col-start 2 / col-end -2;
	flex-direction: column;
	margin-bottom: 2.4rem;

	&-booking {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 4.8rem;
		&__btn {
			border-radius: 8px;
			background: color(--primary);
			padding: 0.8rem 3.2rem;
			border: none;
			outline: none;
			color: white;
			font-size: 34px;
			font-weight: 700;
			line-height: 40px;
		}
	}

	&-content {
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;
			margin-bottom: 2.4rem;
			width: 100%;

			& .line {
				height: 0.8rem;
				flex: 1 1 20rem;
				background: url('/images/line.svg') top left no-repeat;
				background-size: cover;
			}
		}

		&__heading {
			h3 {
				font-size: 3.4rem;
				font-weight: 700;
				line-height: 4rem;
				text-align: center;
				width: 44vw;
				margin: auto;
			}
			margin-bottom: 0.8rem;
		}
	}

	@include media-tablet {
		&-content {
			&__logo {
				display: none;
			}
			&__heading {
				h3 {
					text-align: center;
				}
			}
		}

		&-booking {
			margin-bottom: 1.6rem;
		}
	}

	@include media-medium {
	}
}

