:root {
	font-size: 10px;
	font-family: SVN-Century Gothic;
}

.container {
	display: grid;
	grid-template-columns:
		[container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] 1fr [container-end];
	grid-template-rows: repeat(10, min-content);
	min-height: 100vh;
}

@import '1.reset';
@import '2.variable';
@import '3.utilities';
@import '4.introduction';
@import '5.layout';
@import '7.package';
@import '8.slider';
@import '9.solution';
@import '10.faqs';
@import '11.register';

a:link,
a:visited {
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
}

li {
	list-style: none;
}
%img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

%sec-title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.4rem;
}
%sec-para {
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: 0.1rem;
}

%sec-h2 {
	font-size: 3.4rem;
	font-weight: 700;
	line-height: 4rem;
}

%sec-h5 {
	font-size: 2.4rem;
	line-height: 3.2rem;
}

%sec-btn {
	border-radius: 1rem;
	font-size: 1.6rem;
	line-height: 2.4rem;
}

.hidden {
	display: none;
}

.banner-1 {
	margin-bottom: 6rem;
	grid-column: container-start / container-end;
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	height: 551px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding-right: 15vw;
	padding-top: 4.8rem;

	& .author-info {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		color: white;
		flex: 0 2 454px;
		z-index: 1;
		&__name {
			font-size: 4.8rem;
			font-weight: 700;
			line-height: 5.6rem;
			text-align: center;
		}
		p {
			@extend %sec-para;
		}

		& .swiper {
			display: none;

			& .swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: white;
			}
			& .swiper-pagination-bullet-active {
				background-color: #9e9e9e;
			}
		}
	}

	@include media-tablet {
		padding-bottom: 1.6rem;

		& .author-info {
			flex-basis: 35%;
			& .swiper {
				display: block;
				width: 38vw;
				height: fit-content;
			}
			& > p {
				display: none;
			}
		}
	}
}

// ******************** BANNER SPECIAL ********************
.banner-specials {
	grid-column: container-start / container-end;
	display: flex;
	flex-direction: column;
	margin-bottom: 4.8rem;
	&__item {
		width: 100%;
		height: 100%;
		img {
			@extend %img;
		}
	}
}

// ******************** SERVICES ********************
.services {
	grid-column: col-start 2 / col-end -2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.6rem;
	margin-bottom: 4.8rem;
	h2 {
		@extend %sec-h2;
		text-align: center;
	}

	&__items {
		display: flex;
		gap: 1.7rem;
		flex-wrap: wrap;
		justify-content: center;

		&-item {
			flex: 0 1 auto;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.6rem;
			margin-bottom: 1.7rem;
			&:hover {
				& .services__items-item--img {
					transform: scale(1.05);
				}
			}
			&--img {
				width: 100%;
				height: 197px;
				cursor: pointer;
				transition: all 0.5s ease;
				img {
					@extend %img;
					border-radius: 8px;
				}
			}

			h6 {
				@extend %sec-title;
				white-space: nowrap;
				text-align: center;
			}
		}
	}

	@media screen and (max-width: 576px) {
		& .services__items-item {
			&--img {
				width: 164px;
				height: 164px;
			}
			h6 {
				white-space: unset;
			}
		}
	}
}

// ******************** SOCIALS ********************

.contact-socials {
	grid-column: col-start 3 / col-end -3;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-bottom: 4.8rem;
	h2 {
		@extend %sec-h2;
		text-align: center;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6.4rem;
		&--icons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 5.6rem;
			img {
				&:not(:nth-child(2)) {
					filter: grayscale(0.8);
					opacity: 0.5;
				}
			}
		}
		&--links {
			li a {
				&:link,
				&:visited {
					color: #00f;
					text-align: center;
					font-size: 2.4rem;
					line-height: 32px;
					font-weight: 400;
					text-decoration-line: underline;
				}
			}
		}
		&-mob {
			display: none;
		}
	}
	@media screen and (max-width: 768px) {
		&__content {
			display: none;
			&-mob {
				display: flex;
				flex-direction: column;
				gap: 0.8rem;
				&--item {
					display: flex;
					align-items: center;
					gap: 1.6rem;
					& .links {
						display: flex;
						flex-direction: column;
						gap: 0.4rem;
						li a {
							&:link,
							&:visited {
								color: #00f;
								text-align: center;
								font-size: 1.2rem;
								font-weight: 400;
								line-height: 1.6rem;
							}
						}
					}
				}
			}
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.test {
	grid-column: container-start / container-end;
}
