@font-face {
  font-family: SVN-Century Gothic;
  font-weight: 900;
  src: url("/fonts/SVN-CenturyGothic-Black.otf") format("opentype");
}
@font-face {
  font-family: SVN-Century Gothic;
  font-weight: 700;
  src: url("/fonts/SVN-CenturyGothic-Bold.otf") format("opentype");
}
@font-face {
  font-family: SVN-Century Gothic;
  font-weight: 600;
  src: url("/fonts/SVN-CenturyGothic-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: SVN-Century Gothic;
  font-weight: 400;
  src: url("/fonts/SVN-CenturyGothic-Regular.otf") format("opentype");
}
:root {
  font-size: 10px;
  font-family: SVN-Century Gothic, sans-serif;
}

html {
  --swiper-navigation-sides-offset: calc((100% - 1040px) / 2);
}

body {
  background: url("/images/main-bg.png") top left repeat;
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(15, min-content);
  min-height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  grid-column: container-start/container-end;
  height: 5.6rem;
  background-color: #b5030a;
}

.header-content {
  height: 100%;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content_logo {
  flex: 0 0 fit-content;
  height: 4.3rem;
}
.header-content_links {
  display: flex;
  flex-wrap: nowrap;
}
.header-content_links li {
  padding: 0.8rem;
}

.main-banner {
  grid-column: container-start/container-end;
  margin-bottom: 4.8rem;
}
.main-banner-img {
  width: 100%;
  height: 100%;
}
.main-banner-img img {
  width: 100%;
  height: auto;
}
.main-banner-img img:last-child {
  display: none;
}
@media screen and (max-width: 992px) {
  .main-banner {
    margin-bottom: 1.6rem;
  }
  .main-banner-img img:first-child {
    display: none;
  }
  .main-banner-img img:last-child {
    display: block;
  }
}

#footer {
  grid-column: container-start/container-end;
  background-color: #000;
  padding: 3.2rem 2.4rem;
}

.footer-main {
  max-width: 1040px;
  margin: auto;
  color: white;
}
.footer-logo {
  margin-bottom: 1.6rem;
}
.footer-info {
  display: flex;
  align-items: flex-end;
  gap: 6vw;
  width: 100%;
}
.footer-info__addresses {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 0 0 520px;
}
.footer-info__addresses span {
  font-weight: 700;
  text-align: left !important;
}
.footer-info__addresses p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer-info__others {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-info__others .hotline, .footer-info__others .email, .footer-info__others .socials {
  display: flex;
  flex-direction: column;
}
.footer-info__others .hotline span:first-child, .footer-info__others .email span:first-child, .footer-info__others .socials span:first-child {
  font-weight: 700;
}
.footer-info__others .socials {
  margin-bottom: 2.4rem;
}
.footer-info__others .socials span {
  margin-bottom: 0.8rem;
}
.footer-info__others .socials-icons {
  display: flex;
  gap: 1.6rem;
}
@media screen and (max-width: 992px) {
  .footer-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }
  .footer-info__addresses {
    flex-basis: auto;
  }
  .footer-info__addresses span {
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 16px !important;
  }
  .footer-info__addresses p {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    margin-bottom: 0.8rem;
  }
  .footer-info__others {
    gap: 0.4rem;
  }
  .footer-info__others .hotline span:first-child, .footer-info__others .email span:first-child, .footer-info__others .socials span:first-child {
    text-align: left !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
  }
}

.packages-top {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
.packages-top h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
  text-align: center;
}
.packages-top_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 0 1 33.3333333333%;
  color: black;
}
.packages-top_item--img {
  margin-bottom: 1.6rem;
  width: 10rem;
  height: 10rem;
}
.packages-top_item--img img:last-of-type {
  display: none;
}
.packages-top_item--title {
  margin-bottom: 0.8rem;
}
.packages-top_item--para {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.packages-top_item--para.mob {
  display: none;
}
.packages-top_item--title, .packages-top_item--para {
  text-align: center;
}
.packages-top_items {
  display: flex;
  height: 234px;
  align-items: center;
  justify-content: center;
  background: url("/images/package-bg.svg") top left no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1067px;
  margin: auto;
  padding: 1.2rem 1.95rem;
  gap: 6rem;
}
.packages-middle {
  grid-column: col-start 2/col-end -2;
  max-width: 1067px;
  margin: auto;
  margin-bottom: 4.8rem;
}
.packages-middle h2 {
  text-align: center;
  max-width: 687px;
  margin: auto;
  margin-bottom: 1.6rem;
}
.packages-middle .iframe {
  width: 100%;
  border-radius: 8px;
  height: 490px;
  padding: 0.8rem 0;
}
.packages-middle .iframe iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media screen and (max-width: 992px) {
  .packages-top {
    margin-bottom: 2rem;
  }
  .packages-top h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .packages-top_items {
    flex-direction: column;
    height: auto;
    background: none;
    gap: 0.8rem;
  }
  .packages-top_item--img {
    margin-bottom: 0.8rem;
    width: 48px;
    height: 48px;
  }
  .packages-top_item--img img.mob {
    display: block;
  }
  .packages-top_item--img img:first-of-type {
    display: none;
  }
  .packages-top_item--para {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.28px;
    display: none;
  }
  .packages-top_item--para.mob {
    display: block;
  }
  .packages-middle {
    margin-bottom: 1.6rem;
  }
  .packages-middle h2 {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    margin-bottom: 0.8rem !important;
  }
  .packages-middle .iframe {
    padding: 0 0.8rem;
  }
}

.ho-so {
  display: none;
  margin-bottom: 0.4rem;
}
.ho-so.birthday {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url("/images/ngay-du-sinh.png"), lightgray 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 992px) {
  .ho-so {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: col-start 2/col-end -2;
    border-radius: 8px;
    height: 151px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url("/images/hoso-dat-ten.png"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ho-so--title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2rem;
  }
}

.slider {
  grid-column: container-start/container-end;
  height: 300px;
  background-color: #b5030a;
  position: relative;
  overflow: hidden;
  margin-bottom: 5.5rem;
}
@media screen and (max-width: 992px) {
  .slider {
    height: 196px;
    border-radius: 8px;
    margin-bottom: 1.6rem;
  }
}

.swiper-top {
  width: 1440px;
  height: 300px;
}

.swiper-item {
  display: flex;
  gap: 5vw;
  align-items: center;
  height: 100%;
  max-width: 1067px;
  margin: 0 auto;
  color: white;
  padding: 0 84px;
}
.swiper-item > h2 {
  text-align: left !important;
  flex: 0 0 336px;
}
.swiper-item > h2.mob {
  display: none;
}
.swiper-item .line-2 {
  flex: 0 0 0.5rem;
}
.swiper-item > p {
  flex-grow: 0;
}
.swiper-item > p.mob {
  display: none;
}
@media screen and (max-width: 992px) {
  .swiper-item {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.4rem;
    padding: 1.6rem;
    height: 196px;
  }
  .swiper-item h2 {
    flex-basis: 48px;
    flex-grow: 0;
    width: 100%;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 24px !important; /* 120% */
  }
  .swiper-item h2:first-child {
    display: none;
  }
  .swiper-item h2.mob {
    display: block;
  }
  .swiper-item p {
    display: none;
  }
  .swiper-item p:last-child {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
  }
  .swiper-item .line-2 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .swiper-button-next-1,
  .swiper-button-prev-1 {
    display: none;
  }
}
.line-2 {
  height: 16.6rem;
  width: 0.5rem;
  background-color: white;
  border-radius: 2.1rem;
}

.swiper-1 {
  height: 100%;
}

.swiper-pagination {
  z-index: 2;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #706a6a;
}
.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-2 {
  width: 90px;
  height: 50px;
}
.swiper-2 .swiper-slide > div {
  transition: all 200ms linear;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-2 .swiper-slide.swiper-slide-active > div {
  transform: scale(1);
}

.slick-active {
  padding: 20px 0;
}

.slick-center img {
  transform: scale(1.8);
  transition: all 0.5s ease-in-out;
}

.slick-slide:not(.slick-active) {
  margin: 20px 0;
  filter: grayscale(0.8);
}

.child {
  width: 80%;
}

.slide:not(.slick-active) {
  cursor: pointer;
  text-align: center;
}

.pagination {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.slider-1 {
  width: 460px;
}

.swiper-villa,
.swiper-town,
.swiper-garden {
  width: 100%;
}
.swiper-villa .swiper-slide,
.swiper-town .swiper-slide,
.swiper-garden .swiper-slide {
  text-align: center;
  padding: 0 45px;
}
.swiper-villa .swiper-slide > img,
.swiper-town .swiper-slide > img,
.swiper-garden .swiper-slide > img {
  width: 100%;
  height: auto;
}

.solutions {
  grid-column: col-start 2/col-end -2;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.solutions-booking {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 4.8rem;
}
.solutions-booking__btn {
  width: 336px;
  height: 54px;
  line-height: 54px;
  border-radius: 8px;
  background: #b5030a;
  border: none;
  outline: none;
  color: white;
  font-size: 34px;
  font-weight: 700;
}
.solutions-content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1040px;
  margin: auto;
  margin-bottom: 2.4rem;
}
.solutions-content__logo .line {
  height: 0.8rem;
  flex: 1 1 20rem;
  background: url("/images/line.svg") top left no-repeat;
  background-size: cover;
}
.solutions-content__heading {
  margin-bottom: 0.8rem;
}
.solutions-content__heading h3 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  width: 44vw;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .solutions {
    margin-bottom: 1.6rem;
  }
  .solutions-content__logo {
    display: none;
  }
  .solutions-content__heading h3 {
    text-align: center;
  }
  .solutions-booking {
    margin-bottom: 0;
  }
  .solutions-booking__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    width: 137px;
  }
}
.register {
  grid-column: col-start 2/col-end -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  max-width: 1040px;
  margin: auto;
  margin-bottom: 4.8rem;
}
.register-img {
  width: 74px;
  height: 100%;
  display: flex;
  align-items: center;
}
.register-img img {
  height: 267px;
}
.register-form {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  flex-grow: 1;
  width: calc((100% - 75px) / 2);
}
.register-form__controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  gap: 0.4rem;
}
.register-form__controls label {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
}
.register-form__controls input {
  height: 40px;
  line-height: 40px;
}
.register-form__controls input,
.register-form__controls textarea {
  border-radius: 8px;
  border: 1px solid #5f5f5f;
  background: #fff;
  padding: 0.8rem;
}
.register-form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form__actions button {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  background: #b5030a;
  border: none;
  outline: none;
  line-height: 40px;
  height: 40px;
}
.register-form > h2 {
  margin-bottom: 1.6rem;
  text-align: center;
}
.register-form__box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 75px) / 2);
}
.register-form__box h2 {
  margin-bottom: 0.8rem;
  text-align: center;
  white-space: nowrap;
}
.register-form__box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 192px;
  width: 100%;
  background-size: cover;
  border-radius: 0.8rem;
  position: relative;
}
.register-form__box-item > img {
  width: 100%;
  height: 100%;
}
.register-form__box-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
}
.register-form__box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
}
.register .swiper-villa, .register .swiper-town,
.register .swiper-garden {
  display: none;
}
@media screen and (max-width: 992px) {
  .register {
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .register-img {
    display: none;
  }
  .register-form {
    width: 100%;
  }
  .register-form__controls label {
    font-family: SVN-Century Gothic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
  .register-form h2 {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .register-form button {
    width: 13rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .register-form__box-items {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  .register-form__box-item {
    width: auto;
    flex: 1 1 calc((100% - 1.5rem) / 2);
  }
  .register-form__box h2 {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 24px !important; /* 120% */
  }
}
@media screen and (max-width: 576px) {
  .register .swiper-villa,
  .register .swiper-town,
  .register .swiper-garden {
    display: block;
  }
  .register-form__box-item {
    height: auto;
    display: flex;
    align-items: center;
    width: calc(100vw - 45px);
    overflow: hidden;
  }
  .register-form__box-item h3 {
    z-index: 10;
  }
  .register-form__box-item > img {
    display: none;
  }
  .register-form__controls {
    margin-bottom: 0.8rem;
  }
  .register-form__controls label {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .register-form__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  .register-form__box h2 {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
  }
  .register-img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .register-form__box-items {
    flex-direction: column;
    align-items: center;
  }
  .register-form__box-item {
    width: calc(100vw - 45px);
  }
}

a:link,
a:visited {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

li {
  list-style: none;
}

.services__items-item--img img, .banner-specials__item img, .header-content_logo img, .swiper-3-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__items-item h6, .footer-info__addresses span, .footer-info__others .hotline span:first-child, .footer-info__others .email span:first-child, .footer-info__others .socials span:first-child, .packages-top_item--title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-align: center;
}

.footer-info__others .hotline span:last-child, .footer-info__others .email span:last-child, .footer-info__others .socials span:last-child, .swiper-item > p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.advise h2, .template h2, .survey h2, .contact-socials h2, .services h2, .packages-middle h2, .swiper-item > h2, .register-form > h2, .register-form__box h2 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
}

.hidden {
  display: none;
}

.banner-1 {
  margin-bottom: 4.8rem;
  grid-column: container-start/container-end;
  position: relative;
}
.banner-1 > h3 {
  display: none;
}
.banner-1__name {
  display: none;
}
.banner-1__img {
  width: 100%;
  position: relative;
}
.banner-1__img img {
  width: 100%;
  height: auto;
}
.banner-1 .author-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: white;
  flex: 0 2 454px;
  z-index: 1;
  position: absolute;
  right: 14vw;
  top: 0;
  padding: 1.2rem 0;
  padding-top: calc(1.2rem + 2vw);
  width: calc(14.4rem + 21vw);
}
.banner-1 .author-info__name {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: center;
}
.banner-1 .author-info p {
  font-size: calc(1.2rem + 0.2vw);
  font-weight: 400;
  line-height: 24px;
}
.banner-1 .author-info .swiper {
  display: none;
}
.banner-1 .author-info .swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
}
.banner-1 .author-info .swiper .swiper-pagination-bullet-active {
  background-color: #9e9e9e;
}
@media screen and (max-width: 1200px) {
  .banner-1__name {
    display: block;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
    text-align: center;
    margin-bottom: 0.4rem;
  }
  .banner-1 .author-info h3 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .banner-1 {
    margin-bottom: 1.6rem;
  }
  .banner-1 > h3 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 4px;
  }
  .banner-1__name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .banner-1 .author-info {
    flex-basis: 35%;
    right: 0;
  }
  .banner-1 .author-info .swiper {
    display: block;
    width: calc(12.4rem + 21vw);
  }
  .banner-1 .author-info .swiper p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
  .banner-1 .author-info > p {
    display: none;
  }
}
.banner-specials {
  grid-column: container-start/container-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
}
.banner-specials__item {
  width: 100%;
  height: 100%;
}
.services {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  max-width: 1040px;
  margin: auto;
  margin-bottom: 4.8rem;
}
.services h2 {
  text-align: center;
}
.services__items {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
}
.services__items-item {
  flex: 0 1 calc((100% - 3.2rem) / 3);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.7rem;
}
.services__items-item:hover .services__items-item--img {
  transform: scale(1.05);
}
.services__items-item--img {
  width: 100%;
  height: 197px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.services__items-item--img img {
  border-radius: 8px;
}
.services__items-item h6 {
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .services h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .services .services__items {
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  .services .services__items-item {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .services {
    margin-bottom: 1.6rem;
  }
  .services .services__items {
    flex-wrap: wrap;
  }
  .services .services__items-item--img {
    width: 164px;
    height: 164px;
  }
  .services .services__items-item h6 {
    white-space: unset;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }
}

.contact-socials {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 192px;
  margin: auto;
  margin-bottom: 4.8rem;
}
.contact-socials h2 {
  text-align: center;
}
.contact-socials__content {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}
.contact-socials__content--icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.6rem;
}
.contact-socials__content--links {
  width: 32vw;
}
.contact-socials__content--links ul {
  overflow: hidden;
}
.contact-socials__content--links li.new-link {
  animation: append 0.5s ease-in-out forwards;
}
.contact-socials__content--links li:nth-child(2) {
  animation-delay: 0.2s;
}
.contact-socials__content--links li:nth-child(3) {
  animation-delay: 0.4s;
}
.contact-socials__content--links li:nth-child(4) {
  animation-delay: 0.6s;
}
.contact-socials__content--links li a:link, .contact-socials__content--links li a:visited {
  color: #00f;
  text-align: center;
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: 400;
  text-decoration-line: underline;
  white-space: nowrap;
}
.contact-socials__content-mob {
  display: none;
}
@media screen and (max-width: 992px) {
  .contact-socials {
    height: auto;
    margin-bottom: 4.8rem;
  }
  .contact-socials-socials {
    width: 100%;
  }
  .contact-socials h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .contact-socials__content {
    display: none;
  }
  .contact-socials__content-mob {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .contact-socials__content-mob--item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .contact-socials__content-mob--item .links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .contact-socials__content-mob--item .links li a:link, .contact-socials__content-mob--item .links li a:visited {
    color: #00f;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.test {
  grid-column: container-start/container-end;
}

.survey {
  grid-column: col-start 2/col-end -2;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  margin-bottom: 5.2rem;
}
.survey h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}
.survey .iframe {
  border-radius: 8px;
  width: 100%;
  height: 490px;
}
.survey .iframe iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .survey {
    margin-bottom: 1.6rem;
  }
  .survey h2 {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0.8rem;
  }
}

.survey-step li {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #000;
}
.survey-step li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.template {
  grid-column: col-start 2/col-end -2;
  max-width: 1040px;
  margin: auto;
  margin-bottom: 4.8rem;
}
.template h2 {
  margin-bottom: 1.6rem;
}
.template-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.template-items_item {
  border-radius: 0.8rem;
  position: relative;
  flex-basis: calc(50% - 0.8rem);
  cursor: pointer;
}
.template-items_item h4 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.template-items_item > img {
  width: 100%;
  height: auto;
}
.template-items_item > img:last-of-type {
  display: none;
}
.template .solutions-content__logo {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .template {
    margin-bottom: 1.6rem;
  }
  .template h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .template-items {
    margin-bottom: 0;
  }
  .template-items_item > img:first-of-type {
    display: none;
  }
  .template-items_item > img:last-of-type {
    display: block;
  }
  .template-items_item h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.advise {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}
.advise .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.2rem;
  align-items: center;
}
.advise h2 {
  margin-bottom: 1.6rem;
}
.advise h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2.4rem;
  font-weight: 400;
}
.advise-steps {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  height: 0.8rem;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 2.4rem;
  margin-bottom: 2.4rem;
}
.advise-steps span.active {
  border-radius: 20px;
  background-color: #282828;
  width: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.advise-steps > li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #000;
  z-index: 1;
  background: #fff;
  cursor: pointer;
}
.advise-steps > li:nth-child(2) {
  left: 2.4rem;
}
.advise-steps > li:nth-child(3) {
  left: calc(0.125 * (100% - 4.8rem));
}
.advise-steps > li:nth-child(4) {
  left: calc(0.125 * (100% - 4.8rem) * 2);
}
.advise-steps > li:nth-child(5) {
  left: calc(0.125 * (100% - 4.8rem) * 3);
}
.advise-steps > li:nth-child(6) {
  left: calc(0.125 * (100% - 4.8rem) * 4);
}
.advise-steps > li:nth-child(7) {
  left: calc(0.125 * (100% - 4.8rem) * 5);
}
.advise-steps > li:nth-child(8) {
  left: calc(0.125 * (100% - 4.8rem) * 6);
}
.advise-steps > li:nth-child(9) {
  left: calc(0.125 * (100% - 4.8rem) * 7);
}
.advise-steps > li:nth-child(10) {
  left: calc(0.125 * (100% - 4.8rem) * 8);
}
.advise-content {
  width: 100%;
  position: relative;
}
.advise-content img {
  width: 100%;
  height: 100%;
}
.advise-content--text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3.2rem 8.8rem;
}
.advise-content--text img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advise-content--text img.fade-left {
  animation: appendLeft 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.advise-content--text img.fade-right {
  animation: appendRight 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
@media screen and (max-width: 992px) {
  .advise {
    margin-bottom: 1.6rem;
  }
  .advise-content {
    display: none;
  }
  .advise-steps {
    display: none;
  }
  .advise-title {
    display: none;
  }
  .advise h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .advise h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2.4rem;
    font-weight: 400;
  }
}

.swiper-button-next-2,
.swiper-button-next-3,
.swiper-button-next-4,
.swiper-button-next-5 {
  right: 10px;
}

.swiper-button-prev-2,
.swiper-button-prev-3,
.swiper-button-prev-4,
.swiper-button-prev-5 {
  left: 10px;
}

@keyframes appendLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes appendRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.step-child,
.step-child.checked {
  background-color: #000;
  padding: 0.5rem;
  border: 3px solid #fff;
  box-shadow: 0 0 2px #000;
}

.advise-swiper {
  width: 335px;
  margin: auto;
  height: 525px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  display: none;
}
.advise-swiper .swiper-5 {
  width: 335px;
  height: 487px;
  padding: 0;
  border-radius: 8px;
}
.advise-swiper .swiper-5 .swiper-slide {
  height: 100%;
  margin: auto;
}
.advise-swiper .swiper-5 .swiper-slide img {
  width: 100%;
  height: auto;
}
.advise-swiper .swiper-advise__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  display: inline-block;
  max-width: 300px;
  width: 80%;
  height: 16px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .advise-swiper {
    display: flex;
  }
}

.swiper-button-next-5,
.swiper-button-prev-5 {
  top: 22px;
  width: 16px;
  height: 16px;
}

.swiper-button-next-2,
.swiper-button-prev-2,
.swiper-button-next-3,
.swiper-button-prev-3,
.swiper-button-next-4,
.swiper-button-prev-4 {
  width: 12px;
  height: 24px;
}/*# sourceMappingURL=styles.css.map */