:root {
  font-size: 10px;
  font-family: SVN-Century Gothic;
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(12, min-content);
  min-height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  grid-column: container-start/container-end;
  height: 5.6rem;
  background-color: red;
  margin-top: 4.8rem;
}

.header-content {
  height: 100%;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content_logo {
  flex: 0 0 fit-content;
  height: 4.3rem;
}
.header-content_links {
  display: flex;
  flex-wrap: nowrap;
}
.header-content_links li {
  padding: 0.8rem;
}

.main-banner {
  grid-column: container-start/container-end;
  margin-bottom: 98px;
}
.main-banner-img {
  width: 100%;
  height: 100%;
}
.main-banner-img img {
  margin-bottom: 4.8rem;
}

#footer {
  grid-column: container-start/container-end;
  background-color: #000;
  padding: 3.2rem 2.4rem;
}

.footer-main {
  max-width: 1200px;
  margin: auto;
  color: white;
}
.footer-logo {
  margin-bottom: 1.6rem;
}
.footer-info {
  display: flex;
  align-items: flex-end;
  gap: 6vw;
  width: 100%;
}
.footer-info__addresses {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 0 0 520px;
}
.footer-info__addresses > span {
  font-weight: 700;
}
.footer-info__addresses p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer-info__addresses p > span {
  font-weight: 700;
}
.footer-info__others {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer-info__others .hotline, .footer-info__others .email, .footer-info__others .socials {
  display: flex;
  flex-direction: column;
}
.footer-info__others .hotline span:first-child, .footer-info__others .email span:first-child, .footer-info__others .socials span:first-child {
  font-weight: 700;
}
.footer-info__others .socials {
  margin-bottom: 2.4rem;
}
.footer-info__others .socials span {
  margin-bottom: 0.8rem;
}
.footer-info__others .socials-icons {
  display: flex;
  gap: 1.6rem;
}
@media screen and (max-width: 992px) {
  .footer-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-info__addresses {
    flex-basis: auto;
  }
}

.packages-top {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
}
.packages-top h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  color: black;
  text-align: center;
  padding: 0.5rem;
  width: 41vwswiper-item;
  margin: auto;
}
.packages-top_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 0 1 33.3333333333%;
  color: black;
}
.packages-top_item--img {
  margin-bottom: 1.6rem;
  width: 10rem;
  height: 10rem;
}
.packages-top_item--title {
  margin-bottom: 0.8rem;
}
.packages-top_item--para {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.packages-top_item--title, .packages-top_item--para {
  text-align: center;
}
.packages-top_items {
  display: flex;
  height: 234px;
  align-items: center;
  justify-content: center;
  background: url("/images/package-bg.png") top left no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1067px;
  margin: auto;
  padding: 1.3rem;
  margin-bottom: 3.5rem;
  gap: 6rem;
}
.packages-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  grid-column: col-start 2/col-end -2;
  margin-bottom: 4.8rem;
}
.packages-middle h2 {
  text-align: center;
  width: 48vw;
}
.packages-middle iframe {
  width: 100%;
  border-radius: 8px;
  height: 490px;
}
@media screen and (max-width: 992px) {
  .packages-top_items {
    flex-direction: column;
    height: auto;
    background: none;
  }
  .packages-middle {
    display: none;
  }
}

.ho-so {
  display: none;
  margin-bottom: 0.4rem;
}
.ho-so.birthday {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url("/images/ngay-du-sinh.png"), lightgray 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 992px) {
  .ho-so {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: col-start 2/col-end -2;
    border-radius: 8px;
    height: 151px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), url("/images/hoso-dat-ten.png"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ho-so--title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2rem;
  }
}

.slider {
  grid-column: container-start/container-end;
  height: 300px;
  background-color: #ed1c24;
  position: relative;
  overflow: hidden;
  margin-bottom: 4.8rem;
}

.swiper-top {
  width: 1440px;
  height: 300px;
}

.swiper-item {
  display: flex;
  gap: 5vw;
  align-items: center;
  height: 100%;
  max-width: 80vw;
  margin: 0 auto;
  color: white;
}
@media screen and (max-width: 992px) {
  .swiper-item {
    flex-direction: column;
    justify-content: center;
  }
  .swiper-item .line-2 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .swiper-button-next-1,
  .swiper-button-prev-1 {
    display: none;
  }
}
.line-2 {
  height: 16.6rem;
  width: 0.5rem;
  background-color: white;
  border-radius: 2.1rem;
}

.swiper-1 {
  height: 100%;
}

.swiper-pagination {
  z-index: 2;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #706a6a;
}
.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-2 {
  width: 90px;
  height: 50px;
}
.swiper-2 .swiper-slide > div {
  transition: all 200ms linear;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-2 .swiper-slide.swiper-slide-active > div {
  transform: scale(1);
}

.slick-active {
  padding: 20px 0;
}

.slick-center img {
  transform: scale(1.8);
  transition: all 0.5s ease-in-out;
}

.slick-slide:not(.slick-active) {
  margin: 20px 0;
  filter: grayscale(0.8);
}

.child {
  width: 80%;
}

.slide:not(.slick-active) {
  cursor: pointer;
  text-align: center;
}

.pagination {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.slider-1 {
  width: 460px;
}

.solutions {
  grid-column: col-start 2/col-end -2;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.solutions-booking {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 4.8rem;
}
.solutions-booking__btn {
  border-radius: 8px;
  background: #b5030a;
  padding: 0.8rem 3.2rem;
  border: none;
  outline: none;
  color: white;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}
.solutions-content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2.4rem;
  width: 100%;
}
.solutions-content__logo .line {
  height: 0.8rem;
  flex: 1 1 20rem;
  background: url("/images/line.svg") top left no-repeat;
  background-size: cover;
}
.solutions-content__heading {
  margin-bottom: 0.8rem;
}
.solutions-content__heading h3 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  width: 44vw;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .solutions-content__logo {
    display: none;
  }
  .solutions-content__heading h3 {
    text-align: center;
  }
  .solutions-booking {
    margin-bottom: 1.6rem;
  }
}
.register {
  grid-column: col-start 2/col-end -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  margin-bottom: 5.6rem;
}
.register-img {
  width: 74px;
  height: 267px;
}
.register-form {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  flex-grow: 1;
}
.register-form__controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
  gap: 0.4rem;
}
.register-form__controls label {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #000;
}
.register-form__controls input,
.register-form__controls textarea {
  border-radius: 8px;
  border: 1px solid #5f5f5f;
  background: #fff;
  padding: 0.8rem;
}
.register-form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form__actions button {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  background: #b5030a;
  border: none;
  outline: none;
  line-height: 40px;
  height: 40px;
}
.register-form > h2 {
  margin-bottom: 1.6rem;
  text-align: center;
}
.register-form__box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form__box h2 {
  margin-bottom: 0.8rem;
  text-align: center;
}
.register-form__box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 192px;
  width: 100%;
  background-size: cover;
  border-radius: 0.8rem;
}
.register-form__box-item:first-of-type {
  background: url("/images/biet-thu.png") top left no-repeat;
  margin-bottom: 1.6rem;
}
.register-form__box-item:nth-child(2) {
  background: url("/images/nhavuon.png") top left no-repeat;
  margin-bottom: 1.6rem;
}
.register-form__box-item:last-of-type {
  background: url("/images/nhapho.png") top left no-repeat;
}
.register-form__box-item h3 {
  color: white;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
}
.register-form__box-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .register {
    flex-direction: column;
    gap: 1.6rem;
  }
  .register-img {
    display: none;
  }
  .register-form {
    width: 100%;
  }
  .register-form button {
    width: 13rem;
  }
  .register-form__box-items {
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
  }
  .register-form__box-item {
    width: auto;
    flex: 1 1 calc((100% - 1.5rem) / 2);
  }
}
@media screen and (max-width: 400px) {
  .register-form__box-items {
    flex-direction: column;
    align-items: center;
  }
  .register-form__box-item {
    flex-basis: 174px;
    width: 70vw;
  }
}

a:link,
a:visited {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

li {
  list-style: none;
}

.services__items-item--img img, .banner-specials__item img, .header-content_logo img, .main-banner-img img, .swiper-3-item img, .register-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__items-item h6, .footer-info__addresses > span, .footer-info__others .hotline span:first-child, .footer-info__others .email span:first-child, .footer-info__others .socials span:first-child, .packages-top_item--title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.banner-1 .author-info p, .footer-info__others .hotline span:last-child, .footer-info__others .email span:last-child, .footer-info__others .socials span:last-child, .swiper-item p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.1rem;
}

.survey h2, .contact-socials h2, .services h2, .packages-middle h2, .swiper-item h2, .register-form > h2, .register-form__box h2 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
}

.hidden {
  display: none;
}

.banner-1 {
  margin-bottom: 6rem;
  grid-column: container-start/container-end;
  height: 551px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 15vw;
  padding-top: 4.8rem;
}
.banner-1__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-1__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-1 .author-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: white;
  flex: 0 2 454px;
  z-index: 1;
}
.banner-1 .author-info__name {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: center;
}
.banner-1 .author-info .swiper {
  display: none;
}
.banner-1 .author-info .swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
}
.banner-1 .author-info .swiper .swiper-pagination-bullet-active {
  background-color: #9e9e9e;
}
@media screen and (max-width: 992px) {
  .banner-1 {
    padding-bottom: 1.6rem;
  }
  .banner-1 .author-info {
    flex-basis: 35%;
  }
  .banner-1 .author-info .swiper {
    display: block;
    width: 38vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  .banner-1 .author-info > p {
    display: none;
  }
}

.banner-specials {
  grid-column: container-start/container-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.8rem;
}
.banner-specials__item {
  width: 100%;
  height: 100%;
}
.services {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}
.services h2 {
  text-align: center;
  max-width: 40vw;
}
.services__items {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
}
.services__items-item {
  flex: 0 1 calc((100% - 3.2rem) / 3);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.7rem;
}
.services__items-item:hover .services__items-item--img {
  transform: scale(1.05);
}
.services__items-item--img {
  width: 100%;
  height: 197px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.services__items-item--img img {
  border-radius: 8px;
}
.services__items-item h6 {
  text-align: center;
}
@media screen and (max-width: 576px) {
  .services .services__items {
    flex-wrap: wrap;
  }
  .services .services__items-item--img {
    width: 164px;
    height: 164px;
  }
  .services .services__items-item h6 {
    white-space: unset;
  }
}

.contact-socials {
  grid-column: col-start 3/col-end -3;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 66vw;
  height: 96px;
  margin: auto;
  margin-bottom: 9.6rem;
}
.contact-socials h2 {
  text-align: center;
}
.contact-socials__content {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}
.contact-socials__content--icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.6rem;
}
.contact-socials__content--links ul {
  overflow: hidden;
}
.contact-socials__content--links li.new-link {
  animation: append 1s ease-in-out forwards;
}
.contact-socials__content--links li:nth-child(2) {
  animation-delay: 0.2s;
}
.contact-socials__content--links li:nth-child(3) {
  animation-delay: 0.4s;
}
.contact-socials__content--links li:nth-child(4) {
  animation-delay: 0.6s;
}
.contact-socials__content--links li a:link, .contact-socials__content--links li a:visited {
  color: #00f;
  text-align: center;
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: 400;
  text-decoration-line: underline;
  white-space: nowrap;
}
.contact-socials__content-mob {
  display: none;
}
@media screen and (max-width: 992px) {
  .contact-socials {
    height: auto;
    margin-bottom: 4.8rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-socials__content {
    display: none;
  }
  .contact-socials__content-mob {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .contact-socials__content-mob--item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .contact-socials__content-mob--item .links {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .contact-socials__content-mob--item .links li a:link, .contact-socials__content-mob--item .links li a:visited {
    color: #00f;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.test {
  grid-column: container-start/container-end;
}

.survey {
  grid-column: col-start 2/col-end -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 5.2rem;
}
.survey h2 {
  text-align: center;
  max-width: 47vw;
}
.survey iframe {
  border-radius: 8px;
  width: 100%;
  height: 490px;
}

@keyframes append {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.survey-step li {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #000;
}
.survey-step li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=styles.css.map */